<div class="content-container">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutGap="0px"
       fxLayoutGap.xs="0"
       fxLayoutAlign="center center">
      <md-card [routerLink]="['dyv']" fxFlex class="project-card">
        <md-card-content>
          <md-card-title>Discover Your Volvo</md-card-title>
          <md-card-subtitle>Volvo Sales Tool</md-card-subtitle>
          <md-chip-list>
            <md-chip selected="true" class="php">PHP</md-chip>
            <md-chip selected="true" class="mysql">MySQL</md-chip>
            <md-chip selected="true" class="html">HTML</md-chip>
            <md-chip selected="true" class="jquery">jQuery</md-chip>
          </md-chip-list>
          <div class="see-more-overlay"></div>
          <button class="see-more" md-raised-button color="accent">More <i class="material-icons">chevron_right</i></button>
        </md-card-content>
      </md-card>
      <md-card [routerLink]="['kia-rio']" fxFlex class="project-card">
        <md-card-content>
          <md-card-title>Kia Web based training</md-card-title>
          <md-card-subtitle>Micro-learning courses for Kia product</md-card-subtitle>
          <md-chip-list>
            <md-chip selected="true" class="php">PHP</md-chip>
            <md-chip selected="true" class="mysql">MySQL</md-chip>
            <md-chip selected="true" class="html">HTML</md-chip>
            <md-chip selected="true" class="css">CSS</md-chip>
          </md-chip-list>
          <div class="see-more-overlay"></div>
          <button class="see-more" md-raised-button color="accent">More <i class="material-icons">chevron_right</i></button>
        </md-card-content>
      </md-card>
      <md-card [routerLink]="['kia-niro']" fxFlex class="project-card">
        <md-card-content>
          <md-card-title>Kia Web based training</md-card-title>
          <md-card-subtitle>Micro-learning courses for Kia product</md-card-subtitle>
          <md-chip-list>
            <md-chip selected="true" class="php">PHP</md-chip>
            <md-chip selected="true" class="mysql">MySQL</md-chip>
            <md-chip selected="true" class="html">HTML</md-chip>
            <md-chip selected="true" class="css">CSS</md-chip>
          </md-chip-list>
          <div class="see-more-overlay"></div>
          <button class="see-more" md-raised-button color="accent">More <i class="material-icons">chevron_right</i></button>
        </md-card-content>
      </md-card>
    </div>
    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutGap="0px"
         fxLayoutGap.xs="0">
      <md-card [routerLink]="['nissan']" fxFlex class="project-card">
        <md-card-content>
          <md-card-title>Nissan SERV</md-card-title>
          <md-card-subtitle>iPad app developed for Nissan Service excellence program</md-card-subtitle>
          <md-chip-list>
            <md-chip selected="true" class="angular">AngularJS</md-chip>
            <md-chip selected="true" class="ionic">Ionic</md-chip>
            <md-chip selected="true" class="html">HTML</md-chip>
            <md-chip selected="true" class="css">CSS</md-chip>
          </md-chip-list>
          <div class="see-more-overlay"></div>
          <button class="see-more" md-raised-button color="accent">More <i class="material-icons">chevron_right</i></button>
        </md-card-content>
      </md-card>
      <md-card [routerLink]="['pgi']" fxFlex class="project-card">
        <md-card-content>
          <md-card-title>PGI Pop Quiz</md-card-title>
          <md-card-subtitle>Mobile app for bite size quizzes</md-card-subtitle>
          <md-chip-list>
            <md-chip selected="true" class="angular">AngularJS</md-chip>
            <md-chip selected="true" class="html">HTML</md-chip>
            <md-chip selected="true" class="css">CSS</md-chip>
          </md-chip-list>
          <div class="see-more-overlay"></div>
          <button class="see-more" md-raised-button color="accent">More <i class="material-icons">chevron_right</i></button>
        </md-card-content>
      </md-card>
  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
