<div class="content-container">
  <md-grid-list cols="4" rowHeight="120px">
    <md-grid-tile *ngFor="let project of projects" [routerLink]="[project.projectID]" [colspan]="project.columns" [rowspan]="project.rows" [style.background]="project.tileColor">
      <div class="project-card">
        <h2>{{project.title}}</h2>
        <h3>{{project.subtitle}}</h3>
        <md-chip-list>
          <md-chip *ngFor="let language of project.languages" selected="true" class="{{language.class}}">{{language.text}}</md-chip>
        </md-chip-list>
      </div>
    </md-grid-tile>
  </md-grid-list>
  <router-outlet #outlet="outlet"></router-outlet>
</div>