<div class="project-page-container">
  <div>
    <md-card class="project-page-card">
      <md-card-content fxFlex>
        <i [routerLink]="['/projects']" id="closeProject" class="material-icons">clear</i>
        <md-card-title>{{project.title}}</md-card-title>
        <md-card-subtitle>{{project.subtitle}}</md-card-subtitle>
        <p>Role: {{project.role}}</p>
        <p>Period: {{project.period}}</p>
        <p>Context: {{project.context}}</p>
        <p>Client: {{project.client}}</p>
        <p>Built with:</p>
        <md-chip-list>
          <md-chip *ngFor="let language of project.languages" selected="true" class="{{language.class}}">{{language.text}}</md-chip>
        </md-chip-list>
        <p>
          <i *ngFor="let device of project.devices" class="material-icons">{{device}}</i>
        </p>
      </md-card-content>
      <div class="visual-container" fxFlex>
        <video *ngFor="let clip of project.clips" autoplay loop muted preload="auto">
            <source src="assets/videos/{{clip}}" type="video/mp4">
        </video>
      </div>
    </md-card>
  </div>
</div>
