

<div class="content-container">
  <div class="container"
       fxLayout
       fxLayoutWrap="wrap"
       fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="resume-card item" fxFlex="70%" fxFlexOrder="1">
      <md-card>
        <md-card-title>Experience</md-card-title>
        <md-card-content>
          <md-card-subtitle>Web Developer @ Ardent Learning</md-card-subtitle>
          <md-card-subtitle>February 2015 - March 2017</md-card-subtitle>
          <p>
            Collaborated with a tight knit group of creatives and developers to deliver custom training and learning solutions for automotive, pharmaceutical, and financial fortune 500 companies.
          </p>
          <p>
            Developed Selenium WebDriver automated tests with Browser- Stack integration to increase internal testing efficiency.
          </p>
          <p>
            Introduced Github to create standards for code documentation, collaboration, and version control for all technology projects.
          </p>
        </md-card-content>
        <md-card-content>
          <md-card-subtitle>Freelance Web Developer</md-card-subtitle>
          <md-card-subtitle>February 2014 - Present</md-card-subtitle>
          <p>
            Responsible for all aspects of building solutions based on client vision and requirements.
          </p>
          <p>
            Follow web development blogs and forums to stay on top of the latest frameworks and web technologies in order to provide cutting edge solutions.
          </p>
        </md-card-content>
        <md-card-content>
          <md-card-subtitle>IT Intern @ ITT Industries</md-card-subtitle>
          <md-card-subtitle>February 2014 - Present</md-card-subtitle>
          <p>
            Solutions built using C# and the ASP.NET framework to program workflows on top of Microsoft Sharepoint.
          </p>
          <p>
            Supported the migration of the company’s ASP.NET applications from a Windows Server 2003 running IIS 5 to a Windows Server 2008 running IIS 7.
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="resume-card item" fxFlex fxFlexOrder="2">
      <md-card class="skills">
        <md-card-title>Skills</md-card-title>
        <md-card-content>
          <md-card-subtitle>Languages</md-card-subtitle>
          <ul>
            <li>Javascript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>PHP</li>
            <li>Bash / *nix systems</li>
            <li>SQL</li>
            <li>JSON</li>
          </ul>
          <md-card-subtitle>Frameworks & Libraries</md-card-subtitle>
          <ul>
            <li>Angular 1 + 2</li>
            <li>Ionic 2</li>
            <li>React</li>
            <li>Grav (Flatfile CMS)</li>
            <li>MySQL</li>
            <li>NodeJS + NPM</li>
            <li>Selenium webdriver</li>
            <li>PhantomJS webdriver</li>
            <li>Gulp</li>
            <li>Git</li>
            <li>SCORM</li>
          </ul>
          <md-card-subtitle>Tools</md-card-subtitle>
          <ul>
            <li>Github</li>
            <li>Adobe Creative Suite</li>
            <li>Atom</li>
            <li>Browserstack</li>
            <li>Google Analytics</li>
          </ul>
        </md-card-content>
      </md-card>
    </div>
    <div class="item" fxFlex="300px" fxFlexOffset.xs="0" fxFlexOrder="3">
      <md-card>
          <md-card-title>Education</md-card-title>
          <md-card-subtitle>Bachelor of Science degree</md-card-subtitle>
          <md-card-subtitle>SUNY Polytechnic Institute | Utica, NY</md-card-subtitle>
          <md-card-subtitle>Computer & Information Science - Fall 2014</md-card-subtitle>
      </md-card>
    </div>
  </div>
</div>

























<!-- <div class="content-container">
  <md-grid-list class="resume-grid" cols="4" rowHeight="100px">

    <md-grid-tile
        [colspan]="3"
        [rowspan]="8">
        <md-card class="resume-card">
          <md-card-header>
            <md-card-title>Experience</md-card-title>
          </md-card-header>
          <md-card-content>
            <md-card-title>Web Developer @ Ardent Learning</md-card-title>
            <md-card-subtitle>February 2015 - March 2017</md-card-subtitle>
            <p>
              Collaborated with a tight knit group of creatives and developers to deliver custom training and learning solutions for automotive, pharmaceutical, and financial fortune 500 companies.
            </p>
            <p>
              Engaged with project teams to deliver innovative proposals through highly interactive prototypes using InVision and Adobe Experience Design.
            </p>
            <p>
              Proposed and delivered a migration of all hosting environments from a convoluted overseas vendor to a secure dedicated Rackspace hosting environment.
            </p>
            <p>
              Developed Selenium WebDriver automated tests with Browser- Stack integration to increase internal testing efficiency.
            </p>
            <p>
              Introduced Github to create standards for code documentation, collaboration, and version control for all technology projects.
            </p>
          </md-card-content>
          <md-card-content>
            <md-card-title>Freelance Web Developer</md-card-title>
            <md-card-subtitle>February 2014 - Present</md-card-subtitle>
            <p>
              Responsible for all aspects of building solutions based on client vision and requirements.
            </p>
            <p>
              Follow web development blogs and forums to stay on top of the latest frameworks and web technologies in order to provide cutting edge solutions.
            </p>
          </md-card-content>
          <md-card-content>
            <md-card-title>IT Intern @ ITT Industries</md-card-title>
            <md-card-subtitle>February 2014 - Present</md-card-subtitle>
            <p>
              Solutions built using C# and the ASP.NET framework to program workflows on top of Microsoft Sharepoint.
            </p>
            <p>
              Supported the migration of the company’s ASP.NET applications from a Windows Server 2003 running IIS 5 to a Windows Server 2008 running IIS 7.
            </p>
          </md-card-content>
        </md-card>
    </md-grid-tile>

    <md-grid-tile
        [colspan]="1"
        [rowspan]="6">
        <md-card class="resume-card">
          <md-card-header>
            <md-card-title>Skills</md-card-title>
          </md-card-header>
          <md-card-content>
            <md-card-title>Languages</md-card-title>
            <ul>
              <li>Javascript</li>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>PHP</li>
              <li>Bash / *nix systems</li>
              <li>SQL</li>
              <li>JSON</li>
            </ul>
            <md-card-title>Frameworks & Libraries</md-card-title>
            <ul>
              <li>Angular 1 + 2</li>
              <li>Ionic 2</li>
              <li>React</li>
              <li>Grav (Flatfile CMS)</li>
              <li>MySQL</li>
              <li>NodeJS + NPM</li>
              <li>Selenium webdriver</li>
              <li>PhantomJS webdriver</li>
              <li>Gulp</li>
              <li>Git</li>
              <li>SCORM</li>
            </ul>
            <md-card-title>Tools</md-card-title>
            <ul>
              <li>Github</li>
              <li>Adobe Creative Suite</li>
              <li>Atom</li>
              <li>Browserstack</li>
              <li>Google Analytics</li>
            </ul>
          </md-card-content>
        </md-card>
    </md-grid-tile>


        <md-grid-tile
            [colspan]="1"
            [rowspan]="3">
            <md-card class="resume-card">
              <md-card-header>
                <md-card-title>Education</md-card-title>
                <md-card-subtitle>Bachelor of Science degree</md-card-subtitle>
                <md-card-subtitle>SUNY Polytechnic Institute | Utica, NY</md-card-subtitle>
                <md-card-subtitle>Computer & Information Science - Fall 2014</md-card-subtitle>
              </md-card-header>
            </md-card>
        </md-grid-tile>

  </md-grid-list>
</div> -->
