<md-sidenav-container>
  <md-sidenav color="accent" mode="side" opened="true">
    <md-slide-toggle color="accent" (change)=sliderChanged($event)></md-slide-toggle>
    <md-nav-list>
       <md-list-item [routerLink]="['/home']"><i mdTooltip="Home" mdTooltipPosition="after" class="material-icons icon-centered">home</i></md-list-item>
       <a md-list-item [routerLink]="['/projects']"><i mdTooltip="Projects" mdTooltipPosition="after" class="material-icons icon-centered">code</i></a>
       <a md-list-item [routerLink]="['/about']"><i mdTooltip="About" mdTooltipPosition="after" class="material-icons icon-centered">info_outline</i></a>
       <a md-list-item [routerLink]="['/resume']"><i mdTooltip="Resume" mdTooltipPosition="after" class="material-icons icon-centered">business_center</i></a>
       <a md-list-item [routerLink]="['/contact']"><i mdTooltip="Contact" mdTooltipPosition="after" class="material-icons icon-centered">email</i></a>
    </md-nav-list>
  </md-sidenav>
  <div class="my-content" [@routerAnimations]="prepareRouteTransition(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
    <app-particles></app-particles>
  </div>
</md-sidenav-container>
