@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$light-primary: mat-palette($mat-blue-grey,800,300,900);
$light-accent:  mat-palette($mat-yellow, A100, A200, A200);

// The warn palette is optional (defaults to red).
$light-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include angular-material-theme($dark-theme);
  h1{
    color: rgba(255, 255, 255, 1);
  }
  h2{
    color: rgba(255, 255, 255, 0.7);
  }
  .mat-chip.mat-chip-selected.mat-primary {
    font-weight: bold;
    &.php {
      background-color: rgba(#4a148c, 1);
    }
    &.mysql {
      background-color: rgba(#00838f, 1);
    }
    &.html {
      background-color: rgba(#f57f17, 1);
    }
    &.css {
      background-color: rgba(#1565c0, 1);
    }
    &.angular {
      background-color: rgba(#e53935, 1);
    }
    &.ionic {
      background-color: rgba(#3566e6, 1);
    }
    &.jquery {
      background-color: rgba(#002faa, 1);
    }
    &.sass {
      background-color: rgba(#cc6699, 1);
    }
    &.gulp {
      background-color: rgba(#cf4646, 1);
    }
    &.mongo {
      background-color: rgba(#2A7E21, 1);
    }
  }

  .my-content{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
