/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import '~@angular/material/theming';
@import 'aaron-material-theme';
@include angular-material-theme($light-theme);
  // retrieve variables from theme
 // (all possible variables, use only what you really need)
 $primary: map-get($light-theme, primary);
 $accent: map-get($light-theme, accent);
 $warn: map-get($light-theme, accent);
 $foreground: map-get($light-theme, foreground);
 $background: map-get($light-theme, background);


body{
  font-family:'Roboto Mono',monospace,'Helvetica', 'Arial', 'Sans-Serif';
}
video{
  max-width: 400px;
  max-height: 300px;
}

html, body, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.mat-sidenav{
 background-color: mat-color($primary,darker);
 width: 100px;
 max-width: 100px;
 min-width: 100px !important;
 box-shadow: 3px 0 6px rgba(0,0,0,.24);
 overflow: hidden;
 .mat-list-item{
   color: white;
 }
 .mat-slide-toggle-bar{
   background-color: rgba(255, 255, 255, 0.38);
 }
 .mat-slide-toggle{
   margin: 30px;
 }
 i.icon-centered{
   width: 100%;
   text-align: center;
 }
}
.my-content{
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #e2f1f8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #e2f1f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: auto;
}
.content-container{
  position: relative;
  z-index: 3;
  height: 100%;
}
.project-card{
  text-align: center;
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
    color: #747474;
  }
  button{
    margin: 10px 0;
  }
}
.mat-chip-list{
  display: inline-block;
  margin: 5px auto;
}
.mat-chip.mat-chip-selected.mat-primary{
  font-weight: bold;
  &.php{
    color: rgba(#4a148c, 1);
    background-color: rgba(#4a148c, 0.2);
  }
  &.mysql{
    color: rgba(#00838f, 1);
    background-color: rgba(#00838f, 0.2);
  }
  &.html{
    color: rgba(#f57f17, 1);
    background-color: rgba(#f57f17, 0.2);
  }
  &.css{
    color: rgba(#1565c0, 1);
    background-color: rgba(#1565c0, 0.2);
  }
  &.angular{
    color: rgba(#e53935, 1);
    background-color: rgba(#e53935, 0.2);
  }
}
.mat-card{
  .mat-card-title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .mat-card-subtitle{
    font-size: 14px;
    margin-bottom: 10px;
  }
  p{
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.project-page-container{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}
.mat-card.project-page-card{
  padding-top: 45px;
  i{
    padding: 5px;
    &#closeProject{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}
.mat-card.project-card .see-more{
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: mat-color($accent);
  left: 0;
  vertical-align: middle;
  line-height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(.35,0,.25,1);
  i{
    vertical-align: middle;
    position: absolute;
    line-height: 50px;
  }
}
.mat-card.project-card:hover .see-more{
  bottom: 0;
}
.mat-card.project-card .see-more-overlay{
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgba(#ffffff, 0.6);
  left: 0;
  height: 100%;
  top: -100%;
  transition: all 300ms cubic-bezier(.35,0,.25,1);
}
.mat-card.project-card:hover .see-more-overlay{
  top: 0;
}

.mat-card.project-card{
  overflow: hidden;
  margin: 3px;
  transition: all 300ms cubic-bezier(.35,0,.25,1);
}
.mat-card.project-card:hover{
  cursor: pointer;
}
