<div class="content-container home-container">
  <h1>Aaron Minnamon</h1>
  <h2>Javascript Developer</h2>
  <h2>Digital Craftsman</h2>
  <button md-raised-button color="accent">My Work</button>
  <button md-raised-button color="primary">Contact Me</button>
  <ul class="social-icons-container">
    <li><a href="https://github.com/AaronMinnamon" target="_blank"><i class="fi flaticon-social"></i></a></li>
    <li><a href="https://www.linkedin.com/in/aaronminnamon/" target="_blank"><i class="fi flaticon-linkedin-logo"></i></a></li>
    <li><a href="https://codepen.io/iamminn/" target="_blank"><i class="fi flaticon-3d-outlined-shape"></i></a></li>
  </ul>
</div>
